.movie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.actions {
  display: flex;
  justify-content: center;
}

.return-btn {
  margin: 0 auto;
  border: solid 1px;
  display: flex;
  width: 200px;
  height: 30px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 7px;
  background-color: #0084ff;
  color: white;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}

@media screen and (max-width: 800px) {
  .movie-container {
    justify-content: center;
  }
}
