
.message__container {
  border: solid 1px black;
  max-width: 98%;
  width: 800px;
  margin: 30vh auto;
}

.message__header {
  background-color: #0084ff;
  color: white;
  font-weight: bold;
  font-size: 13pt;
  padding: 5px 0 5px 15px;
}

.message__content {
  background-color: #D1D1E1;
  padding: 7px;
  text-align: justify;
}

.message__content-panel {
  display: table;
  background-color: #E4E7F5;
  border: 2px ridge;
  padding: 10px 0 10px 15px;
  width: 97%;
}

.message__actions {
  background-color: #D1D1E1;
  padding: 0 10px 7px 10px;
  display: flex;
}

.return-btn {
  margin: 0 auto;
}